@import '../../../vendor/twbs/bootstrap/scss/bootstrap';

tr[data-href] {
    cursor: pointer;
}

trix-toolbar {
  span.trix-button-group--file-tools, button.trix-button--icon-code {
    @extend .d-none;
  }
}

form {
    div.help-text {
        color: $gray-600;
    }

    fieldset {
        all: revert;

        legend {
            all: revert;

            font-size: 1.2em;
            font-weight: bold;
        }
    }

    label.s3-upload-file {
      cursor: pointer;
    }
}

q {
  @extend .bg-white;
  @extend .border;
  @extend .p-1;

  &::before {
    content: none;
  }
}

.card {
  .list-group {
    @extend .border-0;
    @extend .rounded-0;

    li:first-child {
      @extend .border-top-0;
    }

    .list-group-item {
      @extend .border-start-0;
      @extend .border-end-0;
    }
  }
}
