@import '../../../vendor/twbs/bootstrap/scss/bootstrap';

tr[data-href] {
    cursor: pointer;
}

trix-toolbar {
  span.trix-button-group--file-tools, button.trix-button--icon-code {
    @extend .d-none;
  }
}

form {
    div.help-text {
        color: $gray-600;
    }

    fieldset {
        all: revert;

        legend {
            all: revert;

            font-size: 1.2em;
            font-weight: bold;
        }
    }

    label.s3-upload-file {
      cursor: pointer;
    }
}
