{% extends 'admin/_base.html.twig' %}

{% set title = event.name ~ ': toutes les étapes' %}

{% block main %}
    <table class="table table-hover">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Nom</th>
            <th scope="col">Difficulté</th>
        </tr>
        {% for stage in stages %}
            <tr>
                <td>{{ stage.date|format_date }}</td>
                <td>
                    {% if stage.isBefore or stage.isAfter %}<span class="badge text-bg-secondary">{{ stage.type.value|upper }}</span>{% endif %}
                    {{ stage.name }}
                </td>
                <td>
                    {% if stage.isDifficultyEasy %}
                        <span class="badge text-bg-success">Facile</span>
                    {% elseif stage.isDifficultyMedium %}
                        <span class="badge text-bg-warning">Moyenne</span>
                    {% else %}
                        <span class="badge text-bg-danger">Difficile</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
