{% extends 'admin/_base.html.twig' %}

{% block title %}Toutes les réservations{% endblock %}

{% block main %}
    <div class="text-center">
        <h1 class="fw-bold text-uppercase text-primary">Toutes les réservations</h1>
    </div>

{% endblock %}
