{% extends '_base.html.twig' %}

{% block title %}{{ registration.event.name }}: paiement{% endblock %}

{% block main %}
    <div class="container">
        <div class="row text-center mb-3">
            <h1>Inscription {{ registration.event.name }}</h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                Paiement effectué avec succès !
                TODO: afficher un récapitulatif
            </div>
        </div>
    </div>
{% endblock %}
