twig:
    file_name_pattern: '*.twig'
    form_themes: ['custom_form_types_layout.html.twig', 'bootstrap_5_layout.html.twig']

    paths:
        '%kernel.project_dir%/assets/styles': styles

    date:
      timezone: 'Europe/Paris'

    globals:
        pahekoBaseUri: '%env(PAHEKO_BASE_URI)%'
        helloassoUrl: '%env(HELLOASSO_URL)%'
        komootUser: '%env(KOMOOT_USER)%'
        komootPassword: '%env(KOMOOT_PASSWORD)%'
        openrunnerUser: '%env(OPENRUNNER_USER)%'
        openrunnerPassword: '%env(OPENRUNNER_PASSWORD)%'
        lightGalleryLicenseKey: '%env(LIGHTGALLERY_LICENSE_KEY)%'

when@test:
    twig:
        strict_variables: true
