{% extends '_base.html.twig' %}

{% block title %}Charte de l'assocation AlterCampagne{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9">
                <div class="text-center mb-4">
                    <h1 class="fw-bold text-uppercase text-primary">Charte de l’association Altercampagne approuvée au Werva 2023</h1>
                </div>

                <ol>
                    <li class="mb-3">
                        <b>Altercampagne organise les plénières toute l'année et des tours à vélo</b> (AlterTour, Alter-D-Tour, Échappées Belles...) dans l'intention de rendre visible et soutenir les accueillant.e.s et les initiatives locales.
                    </li>
                    <li class="mb-3">
                        <b>Altercampagne est un espace de rencontres, d'informations et de débats.</b> Elle relaie des idées et des pratiques visant à promouvoir la réflexion et les échanges de connaissances autour d’expériences militantes, de témoignages de résistance et de modes de vie alternatifs. Elle fédère les personnes et les mouvements qui dénoncent les dysfonctionnements de la société et s'opposent à tous les systèmes de domination<sup><a href="#systeme-de-domination" aria-describedby="systeme-de-domination">[1]</a></sup>.
                    </li>
                    <li class="mb-3">
                        <b>Altercampagne a une vocation pédagogique</b> qui s'inscrit dans une démarche d’éducation populaire<sup><a href="#education-populaire" aria-describedby="education-populaire">[2]</a></sup> favorisant la participation de toustes et visant à l’émancipation de ses participant.e.s. Dans ce cadre, elle fonctionne en autogestion en menant une réflexion collective à son sujet. Pour se faire, elle ne se contente pas de dénoncer mais tente de faire vivre les principes qu'elle énonce et d'incarner des changements souhaitables pour une société plus désirable et juste.
                    </li>
                    <li class="mb-3">
                        <b>Altercampagne est plurielle et diversifiée.</b> Elle valorise les échanges collectifs et/ou inter-individuels ainsi que les débats d'idées. Elle ne peut être un lieu de pouvoir, de promotion publicitaire. Elle s’interdit d’intervenir dans des élections politiques, professionnelles ou syndicales, locales ou nationales.
                    </li>
                    <li class="mb-3">
                        <b>Altercampagne se veut inclusive.</b> Pour permettre à toustes de participer et mieux vivre ensemble, elle fait vivre les principes d'équité<sup><a href="#equite" aria-describedby="equite">[3]</a></sup>, solidarité et coopération. Elle incite chacun.e à réfléchir à ses propres privilèges<sup><a href="#privileges" aria-describedby="privileges">[4]</a></sup> afin d'en prendre conscience, de créer des temps de réflexions et de changements.
                    </li>
                    <li class="mb-3">
                        <b>Altercampagne s'oppose à tout système de domination.</b> Nous souhaitons que chaque personne puisse nous rejoindre dans un cadre protecteur, de bienveillance et respectueux de chacun.e. En ce sens, aucun propos ou comportement sexiste, raciste, validiste, âgiste, classiste, homophobe, transphobe, grossophobe ou allant à l'encontre du consentement et de la dignité, ne sera toléré. (Cette liste n’a pas la prétention d’être exhaustive.)<br />
                        Aussi, le non-respect de la charte mise en place engagera une réponse proportionnée et collective de l’association (rappel du cadre, temps d'échange, avertissement notifié, exclusion temporaire, définitive, etc).
                    </li>
                    <li class="mb-3">
                        <b>Altercampagne est joyeuse et conviviale.</b> Concerts, animations, événements culturels sont des ingrédients essentiels du projet. Les altercyclistes sont encouragé.e.s à partager savoir et expériences en tous genres.
                    </li>
                    <li>
                        <b>Altercampagne est à but non lucratif.</b> Elle est organisée par des bénévoles, membres de l’association. Les partages de connaissances et la transmission de pratiques sont encouragés. Altercampagne tend à un fonctionnement horizontal et autogéré.
                    </li>
                </ol>
                <p>
                    Les principes contenus dans cette charte sont respectés par toustes les adhérent.e.s et participant.e.s aux évènements organisés par Altercampagne (tours, plénières...).
                </p>

                <hr />

                <h3>Lexique</h3>

                <ol class="mt-3">
                    <li id="systeme-de-domination" class="mb-4">
                        <b>Système de domination / oppression systémique :</b><br />
                        <blockquote class="border bg-white p-2 mt-1 mb-0">
                            L’oppression systémique vise les inégalités et discriminations produites et reproduites par le système. Et ce, par le biais des stéréotypes et des préjugés. Le caractère systémique signifie qu’il ne s’agit pas d’actes isolés et individuels mais des comportements répétés et structurels. En fait, c’est l’organisation tout entière de la société qui reproduit les inégalités.
                        </blockquote>
                        <a href="http://femmesdedroit.be/informations-juridiques/abecedaire/oppression-systemique/" rel="nofollow" class="float-end">femmesdedroit.be</a>
                    </li>
                    <li id="education-populaire" class="mb-4">
                        <b>Éducation populaire :</b><br />
                        <blockquote class="border bg-white p-2 mt-1 mb-0">
                            Il n’existe pas de définition instituée de ce qu’est l’éducation populaire, et c’est sans doute très bien comme cela.<br />
                            L’éducation populaire, c’est avant tout l’ambition de <b>ne pas séparer l’action et l’analyse</b>, de ne pas séparer celleux qui font, celleux qui réfléchissent, et celleux qui décident. C’est en cela que l’éducation populaire est directement liée aux pratiques d’<b>autogestion (de nos activités, de nos luttes, de l’économie)</b>.<br />
                            <b>L’éducation populaire, ce n’est pas éduquer le peuple.</b> Ce n’est pas apporter la conscience de l’extérieur à des personnes qu’on considérerait comme « à conscientiser ». Ce sont des dynamiques collectives qui permettent aux dominé.e.s de développer ensemble une compréhension critique de la société et des origines des inégalités sociales. Il s’agit de <b>se donner les moyens de comprendre le monde pour pouvoir le transformer.</b><br />
                            Pour cela, l’éducation populaire nous invite à travailler à partir de nos situations pour les analyser, les comprendre, agir pour les transformer. L’objectif étant de transformer la société, les démarches d’éducation populaire ne sauraient être neutres.
                        </blockquote>
                        <a href="http://www.education-populaire.fr/definition/" rel="nofollow" class="float-end">education-populaire.fr</a>
                    </li>
                    <li id="equite" class="mb-4">
                        <b>Équité :</b> l'équité est la justice, et l'égalité est la similitude. Dans de nombreux cas, l'équité est obtenue en tenant compte des inégalités structurelles qui poussent les individus à se retrouver en marge de la société.
                    </li>
                    <li id="privileges" class="mb-4">
                        <b>Privilèges :</b> Avantages intrinsèques que possède une personne, du fait de son appartenance à un groupe social dans une société caractérisée par l’inégalité et l’injustice. La personne privilégiée bénéficie automatiquement de privilèges et d’opportunités auxquels les personnes n’appartenant pas à ce même groupe n’ont pas accès sans toutefois elle-même faire preuve de discrimination « directe », « active ». On peut être privilégié à un endroit et désavantagé à un autre.<br />
                        Exemples : privilège blanc, privilège de genre, privilège hétérosexuel, privilège valide, privilège de classe, privilège lié à l’âge, privilège lié à la minceur.
                    </li>
                    <li id="discrimination">
                        <b>Discrimination :</b><br />
                        <blockquote class="border bg-white p-2 mt-1 mb-0">
                            Fait de distinguer et de traiter différemment (le plus souvent plus mal) quelqu'un ou un groupe par rapport au reste de la collectivité ou par rapport à une autre personne.
                        </blockquote>
                        <a href="https://www.larousse.fr/dictionnaires/francais/discrimination/25877" rel="nofollow" class="float-end">Larousse</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
