{% extends '_base.html.twig' %}

{% block title %}Contacter l'association{% endblock %}

{% block main %}
    <div class="container">
        <div class="text-center">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9">
                    <h1 class="fw-bold text-uppercase text-primary">Nous contacter</h1>
                    <p class="lead">
                        Si tu souhaites avoir plus d'info sur nos évènements, si tu rencontres un problème ou pour toute autre raison, n'hésite pas à nous contacter.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
