parameters:
    level: max

    paths:
      - src
      - tests
    excludePaths:
      - src/Migrations

    doctrine:
      objectManagerLoader: tests/doctrine-object-manager.php

    ignoreErrors:
      - '#Call to an undefined method Faker\\Generator::[a-zA-Z0-9]+\(\)#'
