{% if registration.isConfirmed %}
    <span class="badge text-bg-success"><i class="fa-solid fa-check me-1"></i> Confirmée</span>
{% else %}
    <span class="badge text-bg-warning"><i class="fa-regular fa-clock me-1"></i> En attente</span>
{% endif %}
