{% extends 'admin/_base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block main %}
    <div class="text-center">
        <h1 class="fw-bold text-uppercase text-primary">Dashboard d'administration</h1>
    </div>
{% endblock %}
