$primary: #3f7625;
$enable-negative-margins: true;
@import '../../vendor/twbs/bootstrap/scss/bootstrap';

@import 'form';

body {
    background-color: $gray-100;
}

.card-hover:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
