{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css'))|inline_css %}
    <style>
        body, html, .body {
            background: #f3f3f3 !important;
        }

        .container.header, .container.footer {
            background: #f3f3f3;
        }
    </style>

    <spacer size="16"></spacer>

    <container class="header">
        <row>
            <columns>
                <h1 class="text-center">Réinitialisation de ton mot de passe</h1>
            </columns>
        </row>
    </container>

    <container>
        <row>
            <columns>

                <spacer size="32"></spacer>

                <p>Il semblerait que tu as fait une demande de réinitialisation de mot de passe ? Si ce n'est pas le cas, il te suffit d'ignorer cet email.</p>

                <spacer size="32"></spacer>

                <button class="large expand" href="{{ url('reset_password', {token: resetToken.token}) }}">Réinitialiser mon mot de passe</button>

                <p class="text-center small">Le lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
            </columns>
        </row>

        <spacer size="16"></spacer>
    </container>

    <container class="header">
        <row>
            <columns>
                <center>
                    <menu>
                        <item href="https://www.altercampagne.net/">Site web</item>
                        <item href="{{ url('homepage') }}">Réservation</item>
                    </menu>
                </center>
            </columns>
        </row>
    </container>
{% endapply %}
