<div class="d-grid gap-2 mt-4">
    {% block button %}
        <button type="submit" class="btn btn-lg btn-primary">
            {% block content 'Étape suivante' %}
        </button>
    {% endblock %}
</div>
<div class="d-grid gap-2 mt-3">
    <a href="{{ path('homepage') }}" class="btn btn-link">
        <small>Je finirai plus tard</small>
    </a>
</div>
