{% extends 'admin/event/show.html.twig' %}

{% set tab = 'meals' %}

{% block tab_content %}
    <p class="fs-4">
        Le <b>tableau des repas</b> permet de facilement voir le nombres d'inscrit·es par jour ainsi que leurs éventuels régimes spécifiques.
    </p>

    <p>
        Le tableau des repas est disponible à l'adresse suivante :
        <a href="{{ path('event_meal_overview', { slug: event.slug }) }}">
            {{ url('event_meal_overview', { slug: event.slug }) }}
        </a>.
        Par facilité, il est recommandé de générer un QR Code et de l'imprimer. Cela permettra à l'ensemble des participant·es d'y accéder sans devoir taper l'URL complète. Pour cela, un site tel que <a href="https://www.the-qrcode-generator.com/">www.the-qrcode-generator.com</a> peut être utilisé.
    </p>

    <div class="alert alert-danger">
        <b>Le tableau des repas est public</b>, ce qui signifie qu'il est accessible par n'importe quelle personne ayant connaissance de l'URL (ou du QR Code s'il y en a un). C'est très pratique pour permettre à toustes les participant·es du tour d'y avoir accès mais cela implique qu'aucune information personnelle de peut / doit y figurer.
    </div>

    <div class="d-grid gap-2">
        <a href="{{ path('event_meal_overview', { slug: event.slug }) }}" class="btn btn-primary">
            Voir le tableau des repas
        </a>
    </div>
{% endblock %}
