{% extends 'admin/event/show.html.twig' %}

{% set tab = 'registrations' %}

{% block tab_content %}
    <table class="table table-hover table-bordered table-sm">
        <thead>
            <tr>
                <th scope="col">Utilisateurice</th>
                <th scope="col">Durée</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for registration in event.registrations|filter(r => r.isConfirmed) %}
                <tr data-href="{{ path('admin_registration_show', { id: registration.id }) }}">
                    <td>{{ registration.user.fullName }}</td>
                    <td>{{ registration.countDaysOfPresence }} jours</td>
                    <td>{{ registration.createdAt|format_datetime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
